.arena {
    width: 310px;
    padding: 10px;

    &__container {
        position: relative;
        width: 310px;
        height: 310px;
        background-color: #fff;
        transition: all ease .2s;
    }
}

.arena--selecting {
    .arena {
        &__container {
            background-color: #e9e9e9;
        }
    }
}